<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYS.com</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
               <li><a href="{{url_for('register')}}">Register</a></li>
               <li><a href="{{url_for('login')}}">Login</a></li> 
            </ul>
        </nav>
    </header>
    <section id="sss1">
        <center><h1 class="two" ><span style="color:rgb(20, 20, 70);background-color: whitesmoke;margin-left: 30px;padding-left: 20px;padding-right: 20px;">SKYS.com</span></h1></center>

    </section>
    <br>
    <br>
    <center><h1><b>ABOUT US
    </b></h1></center>
    <P> <b> <h3> Hello Everyone! We did this project for IBM Nalaiyathiran. Our team consists of four members. Our Project is: Skill/Job Recommender Application. This project recommends Jobs for Job seekers and also skills. We heartfully Thank IBM for providing their free resources and we gained lot of knowledge from learning new technologies.  </h3></b></P>
<h1>TEAM : </h1>
<H3>TEAM LEADER   : SWETHA.R</H3>
<H3>TEAM MEMBER 1 : KEERTHIKA.R</H3>
<H3>TEAM MEMBER 2 : YAZHINI.S</H3>
<H3>TEAM MEMBER 3 : SNEHA.R</H3>
</body>
</html>