body
{
    font-family: Century Gothic;
    margin: 0%;
    background-color: #bee2fe;
}
ul 
{
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}
li
{
    margin-left: 30px;
    display: inline;
    float: left;
}
li a 
{
  display: block;
  color: hsl(0, 71%, 3%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header
{
    width:100%;
    height: 100px;
    background-color:white(240, 240, 234);
    font-size: 20px;
}
li:hover
{
    background-color:#E0E0E0;
}

.two
{
    font-size: 35px;
    margin-top: 20px;
}
#sss1
{
    top: 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(29,40,97);
    position: absolute;
}
.sec_nav
{
    margin-left: 900px;
}
.input_search
{
    margin-top: -73px;
    margin-left: 300px; 
    width: 500px;
    height: 42px;
    border-radius: 5px;
    border: none;
    position: absolute;
    padding-left: 20px;
}
.button_search
{
    position: absolute;
    margin-top: -73px;
    height: 44px;
    margin-left: 840px;
    width: 80px;
    background-color:white;
    border-radius: 5px;
    font-family: Century Gothic;
}
.button_search:hover
{
    background-color:#E0E0E0;
    color: whitesmoke;
}
footer
{
    height: 30px;
    background-color: rgb(255, 63, 63);
    width: 100%;
}
.head {
    height: 50px;
    width: 100%;
    color: whitesmoke;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}



.head-git{
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 244, 244);
    display: flex;
    flex-flow: row;
    margin-bottom: 5px;
  }
  .head-git h2 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
  }
  .head-git h2 a { 
    text-decoration: none;
    color:blue;
    font-size: 23px;
  }
  .head-git h2 a:hover { 
    color:rgb(211, 47, 41);
    background-color: beige;
  }

  .wrapper {
    height: 200px;
    width: 100%;
    margin-left:150px;
    display: flex;
    padding: 10px;
}
.wrapper .item {
    height: 200px;
    min-width: 20%;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 0.5px;
    border-bottom: 1px black;
}
.wrapper .item img {
    height: 100%;
    width: 100%;
}
.c-box {
    height: content;
    max-width: 50%;
    display: flex;
    padding: 10px;
    flex-flow: column;
    padding: 1px;
} 
.c-box .content {
    height: content;
    min-width: 30%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 130px;
    text-decoration: none;
}
.c-box .content p {
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.c-box .content h2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.head-f{
    height: 40px;
    width: 100%;
    justify-content: center;
    border-top: 2px solid black;
    display: flex;
    flex-flow: column;
  }
  .head-f h2 {
    font-size: 15px;
    color:black;
  }

  /*register and login css*/
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color:white;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .submitbtn {
    background-color: rgb(211, 47, 41);
    color: white;
    padding: 16px 20px;
    margin: 8px ;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
  }
  
  .submitbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
.form_label
{
  margin-left: 35%;
}
.form_input
{
  margin-left: 35%;
  width: 500px;
  height: 42px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  background-color:rgb(196, 196, 196);
}


input {
  display: inline-block;
}

div.course {
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left:50px;
}

div.course2 {
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left: 500px;
}

div.course3 {
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left: 950px;
}
div.jobs1{
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left:200px;
}
div.jobs2{
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 200px;
  left:700px;
}
div.jobs3{
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  top: 600px;
  left:200px;
}























h6 {
font-size: 1em;
}
