<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
        <nav class="navbar">
            <ul>
               <li><a href="{{url_for('home')}}">Back to page</a></li>
            </ul>
        </nav>
        </header>
        <section id="sss1">
            <center><h1 class="two" ><span style="color:rgb(20, 20, 70);background-color: whitesmoke;margin-left: 30px;padding-left: 20px;padding-right: 20px;">indeed.com</span></h1></center>
        </section>
        <br><br>
        <div class="container"> <br /><br />
        <form action="/login" method="POST">
         <h1>Login</h1> <br /><br />
            <label class="form_label"for="email"><b>Username</b></label><br><br>
            <input class="form_input"type="text" name= "username" /><br><br>
            <label class="form_label"for="psw"><b>Password</b></label><br><br>
            <input class="form_input"type="password" name="password"/>
            </br></br></br>
            <center><input type="submit" class="submitbtn"value="submit" /></center>
        </form>
        </div>
        <center><p>Forgot your password? <a href="{{url_for('forget')}}">Try Another Way</a></p></center>
        <center><p>Don't have a account <a href="{{url_for('register')}}">Create new account</a></p></center>
    </body>
</html>
